<!DOCTYPE html>
<html>
<head>
  <title>Employee Payroll</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h2>Employee Payroll Dashboard</h2>

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Department</th>
      <th>Basic Salary</th>
      <th>Tax (12%)</th>
      <th>Net Salary</th>
    </tr>

    <% employees.forEach(function(emp){ %>
      <tr>
        <td><%= emp.id %></td>
        <td><%= emp.name %></td>
        <td><%= emp.department %></td>
        <td><%= emp.basicSalary %></td>

        <td>
          <%= emp.basicSalary * 0.12 %>
        </td>

        <td>
          <%= emp.basicSalary - (emp.basicSalary * 0.12) %>
        </td>
      </tr>
    <% }) %>

  </table>

</body>
</html>
